// Brand Colors - Primary

$clover-green: rgba(0, 126, 59, 1);
$clover-black: rgba(0, 0, 0, 1);
$clover-black-overlay: rgba(0, 0, 0, 0.8);
$clover-white: rgba(255, 255, 255, 1);
$clover-gray: rgba(119, 119, 119, 1);

// Brand Colors - Secondary

$clover-red: rgba(183, 84, 84, 1);
$clover-orange: rgba(183, 84, 84, 1);
$clover-yellow: rgba(241, 227, 46, 1);
$clover-blue: rgba(53, 66, 70, 1);
$clover-teal: rgba(62, 192, 196, 1);
$clover-purple: rgba(103, 11, 180, 1);

// Shades of Gray

$clover-gray-90: rgba(64, 64, 64, 1);
$clover-gray-80: rgba(88, 88, 88, 1);
$clover-gray-60: rgba(119, 119, 119, 1);
$clover-gray-50: rgba(148, 148, 148, 1);
$clover-gray-40: rgba(167, 167, 167, 1);
$clover-gray-20: rgba(210, 210, 210, 1);
$clover-gray-10: rgba(219, 219, 219, 1);
$clover-gray-5: rgba(241, 241, 241, 1);
$clover-gray-2: rgba(250, 250, 250, 1);
$transparent-clover-gray-90: rgba(64, 64, 64, 0.2);


// Secondary Colors - Light
$light-clover-green: rgba(221, 238, 213, 1);
$light-clover-red: rgba(251, 209, 210, 1);
$light-clover-orange: rgba(252, 215, 182, 1);
$light-clover-yellow: rgba(251, 244, 185, 1);
$light-clover-blue: rgba(217, 219, 224, 1);
$light-clover-teal: rgba(209, 237, 243, 1);
$light-clover-purple: rgba(202, 206, 232, 1);
$extra-light-clover-red: rgba(249, 225, 228, 1);
$extra-light-clover-green: rgba(221, 238, 213, 0.4);

// Secondary Colors - Dark
$dark-clover-green: rgba(0, 89, 36, 1);
$dark-clover-red: rgba(148, 32, 32, 1);
$dark-clover-orange: rgba(200, 88, 39, 1);
$dark-clover-yellow: rgba(197, 162, 46, 1);
$dark-clover-blue: rgba(37, 51, 56, 1);
$dark-clover-teal: rgba(15, 114, 111, 1);
$dark-clover-purple: rgba(52, 67, 140, 1);

// Other
$clover-green-web: #65AC42;