@import 'colors';
@import 'fonts';
@import 'effects';

body {
  font-family: $primary-serif;
  background:url("./images/backgroundImage.jpg");
}

button:focus {
  outline: 0;
}

h3 {
  font-size: 1.2rem;
}

label {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input[type='checkbox'] {
  margin-right: 4px;
}

canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  width: inherit;
}

.canvas-container {
  min-width: fit-content;
}

#verify-signature-canvas {
  max-height: 175px;
}

.top24 {
  margin-top: 24px;
}

.logo {
  height: 80px;
  box-sizing: content-box;
}

.logo--container {
  padding-top: 24px;
  display: flex;
  justify-content: center;
}

.status {
  padding: 24px;
}

#default-status-message {
  font-weight: bolder;
}

.status--container {
  background-color: $clover-gray-5;
  border-radius: 15px;
  margin-top: 20px;
}

.red {
  color: red;
}

.pos--container {
  height: fit-content;
  border-radius: 10px;
  padding: 40px 60px;
  background-color: $clover-white;
}

@media (max-height: 750px) {
  .pos--container {
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
  }
}

@media (min-width: 768px) {
  .pos--container {
    padding: 40px 20px;
  }
}

@media (min-width: 992px) {
  .pos--container {
    padding: 40px 60px;
  }
}

.display {
  border-radius: 10px;
  background-color: $clover-gray-50;
  color: $clover-white;
  max-width: 260px;
  padding: 5px 0;
  margin: 0 auto;
  font-size: 2em;
  -webkit-box-shadow: 0px 2px 0px $clover-gray-60, 0px 2px 25px rgba(0,0,0,.7);
  -moz-box-shadow: 0px 2px 0px $clover-gray-60, 0px 2px 25px rgba(0,0,0,.7);
  box-shadow: 0px 2px 0px $clover-gray-60, 0px 2px 25px rgba(0,0,0,.7);
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.numpad {
  max-width: 300px;
  justify-content: center;
  margin: 30px auto;
}

//http://cssdeck.com/labs/fancy-3d-button

.numpad--key {
  background-color: $clover-gray-50;
  border: 1px solid $extra-light-clover-green;
  border-radius: 10px;
  color: $clover-white;
  cursor: pointer;
  font-size: 1.5em;
  margin: 6px;
  text-align: center;
  -webkit-box-shadow: 0px 3px 0px $clover-gray-60, 0px 3px 25px rgba(0,0,0,.7);
  -moz-box-shadow: 0px 3px 0px $clover-gray-60, 0px 3px 25px rgba(0,0,0,.7);
  box-shadow: 0px 3px 0px $clover-gray-60, 0px 3px 25px rgba(0,0,0,.7);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.numpad--row > div:first-of-type {
  padding-right: 0;
}
.numpad--row > div:nth-of-type(2) {
  padding: 0 7.5px;
}
.numpad--row > div:last-of-type {
  padding-left: 0;
}

.numpad--key:active {
  background: $clover-gray-50;
  -webkit-box-shadow: 0px 1px 0px $clover-gray-60, 0px 1px 6px rgba(0,0,0,.9);
  -moz-box-shadow: 0px 1px 0px $clover-gray-60, 0px 1px 6px rgba(0,0,0,.9);
  box-shadow: 0px 1px 0px $clover-gray-60, 0px 3px 1px rgba(0,0,0,.9);
  position: relative;
  top: 2px;
}

.double {
  padding: 15px 0;
}

.triple {
  padding: 15px 0;
}

.key--primary,.key--primary:active {
  background-color: $clover-green-web;
  -webkit-box-shadow: 0px 6px 0px $clover-green-web, 0px 6px 25px rgba(0,0,0,.7);
  -moz-box-shadow: 0px 6px 0px $clover-green-web, 0px 6px 25px rgba(0,0,0,.7);
  box-shadow: 0px 6px 0px $clover-green-web, 0px 6px 25px rgba(0,0,0,.7);
}

.key--secondary, .key--secondary:active {
  background-color: $clover-green;
  
}

.key--danger {
  background-color: $clover-red;
  margin-top: 16px;
  -webkit-box-shadow: 0px 6px 0px $clover-red, 0px 6px 25px rgba(0,0,0,.7);
  -moz-box-shadow: 0px 6px 0px $clover-red, 0px 6px 25px rgba(0,0,0,.7);
  box-shadow: 0px 6px 0px $clover-red, 0px 6px 25px rgba(0,0,0,.7);
}

#key--charge, .key--primary, .key--secondary {
  width: 100%;
}

.key__disabled,.key__disabled:active {
  background-color: $clover-gray;
  box-shadow: none;
  cursor: not-allowed;
  top: 0px;
}